<div class="col-md-6 ">
    <h1 class="text-center">Add Room</h1>
    <!-- <form> -->
    <div class="form-group">
        <label for="roomid">Room Id</label>
        <input type="text" class="form-control" id="name" [(ngModel)]="roomService.currentRoom.id"
            name="custid">
    </div>

    <div class="form-group">
        <label for="phoneno">Room Type.</label>
            <select name="roomtype" id="roomT" required [(ngModel)]="roomService.currentRoom.type">
                <option value="ac">AC</option>
                <option value="Non-Ac">NON-AC</option>
            </select>
    </div>

    <div class="form-group">
        <label for="roomno">Room size</label>
        <input type="number" class="form-control" id="number" required
            [(ngModel)]="roomService.currentRoom.size" name="sizeroom">
    </div>



    




    <!-- <div type="submit" class="btn btn-info">Add</div> -->
    <button type="submit" class="btn btn-success" (click)="createRoom(roomService.currentRoom)">Add
    </button>&nbsp;
    <button type="submit" class="btn btn-info"
        (click)="updateRoom(roomService.currentRoom)">Update</button>&nbsp;
    <button type="submit" class="btn btn-primary" (click)="clear()">Refresh</button>
    <!-- </form> -->



</div>

