<div  class="container-fluid">  
  <nav class="navbar navbar-expand-sm bg-dark navbar-dark">  
      <ul class="navbar-nav">  
        <li class="nav-item "style="padding:20px">  
          <a routerLink="room-list" class="nav-link" class="btn btn-primary active" role="button" >View Rooms</a>  
        </li>   
        <li class="nav-item">  
          <a  routerLink="add-room" class="nav-link" class="btn btn-primary active" role="button" >Add Room</a>  
        </li>            
      </ul>  
    </nav>     
      <router-outlet></router-outlet>  
  </div>